.container{

  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 20rem;
  margin: auto;
}

.done {
  text-decoration: line-through;
}

.hide{
  display: none;
}

ul{
  padding: 0px;
}

li{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

li button{
  cursor: pointer;
}

#input-div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}